html, body{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: sans-serif;
    background-color: #f7f7f7;
    
}

nav{
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    position: fixed;
    display: block;
    z-index: 99;
}

nav ul{
    color: whitesmoke;
    margin: -8px -16px;
}

nav ul li:first-child{
    float: left;
    
}

nav ul li{
    margin: 20px 15px;
    float: right;
}

li{
    list-style: none;
    
}

#signup{
    margin: -10px 20px; 
}

.main{
    position: absolute;
    /*
    top: 60px;
    left: 30px;
    margin-top: 30;
    */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginform{
    position: absolute;
}

#loginFormDiv{
    margin-bottom: 10px;
}

#password{
    margin-left: 5px;
}

#loginSubmit{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

#logo{
    height: 75px;
    width: 75px;
    margin-top: -5px;
    margin-left: 15px;
}

.btn_hyperlink{
  border:none;
  outline:none;
  background:none;
  cursor:pointer;
  color:#0000EE;
  padding:0;
  text-decoration:underline;
  font-family:inherit;
  font-size:inherit;
}