<html>
<head>
    <link rel="stylesheet" href="styles/signup-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <div>
        <nav>
            <div class="navbar">
                <ul>
                    <!--<a href="index.html" id="logo">
                            <img id="logo" src="resources/logo.png"/>
                        </a>-->
                        <form method = post action = home>
                            <input type = "image" id = logo src = resources/logo.png>
                        </form>
                </ul>
            </div>
        </nav>
    </div>
        <div class="main">
            <form id = "signupform" method = post action="registered">
                <div id = "signupFormDiv">
                    Username:
                    <input id="username" name = "username" type="text" required /><br/>
                </div>
                <div id = "signupFormDiv">
                    Email:
                    <input id="email" name = "email" type="email" required /><br/>
                </div>
                <div id = "signupFormDiv">
                    Password:   
                    <input id ="password" name = "password" type="password" required /><br/>
                </div>
                <div id = "signupDescription">
                    Short Description: <br/>
                    <textarea rows="4" cols="50">
                    </textarea>
                </div>
                <input id = "signupSubmit" name = "register" type="submit" value="Register"><br/><br/>
            </form>
            
        </div>
</body>
    <script>
    </script>
</html>