<html>
    <head>
        <link rel="stylesheet" href="styles/super-style.css">
        <link rel="stylesheet" href="styles/main-style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="js/meme-script.js"></script>
    </head>
<body>
    <div>
        <nav>
            <div>
                <ul>
                    <li>
                        <a href="/" id="logo">
                            <img id="logo" src="resources/logo.png"/>
                        </a>
                        <!--<form method = post action = home>
                            <input type = "image" id = logo src = resources/logo.png>
                        </form>-->
                    </li>
                    <li>
                        {{#if user}}
                        <div class="dropdown">
                            <button class="btn btn-link dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown">
                                <img id="profile-pic" src="{{user.profilepic}}">
                                </button>
                            <div class="dropdown-menu" role="menu" aria-labelledby="user-menu">
                                <a class="dropdown-item" href="userPage">Profile</a>
                                <a class="dropdown-item" data-toggle="modal" data-target="#uploadModal">Add Meme</a>
                                <a class="dropdown-item" id="sign-out" href="signout">Sign-Out</a>
                            </div>
                        </div>
                        {{else}}
                        <a id="sign_up" href="loginPage">
                            LOGIN</a>
                        <!--
                        <form method = post action = login>
                            <input type = submit id = sign_up value = LOGIN>
                        </form>
-->
                        {{/if}}
                    </li>
                    <li>
                        <div id="search">
                            <form id = search action = search method = get>
                               <input id="search-input" type="text" placeholder="Search Tags" name = "searchinput" />
                                <!--<a href="main-cat.html" class="submit-button">
                                    <i class="fa fa-search"></i>
                                </a>-->
                                <input class = submit-button type = submit value = Search>
                            </form>
                        </div>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
        <div class="main">
            <h1>{{tag}}</h1>
            <div class="images">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-3" id = "column0">
                    </div>
                    <div class="col col-lg-3" id = "column1">
                    </div>
                    <div class="col col-lg-3" id = "column2">
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Modal -->
<!--
        <div class="modal fade" id="memeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Before and after Jakol</h5>
                <div class="modal-subheading">By mr_bizcuit</div>
              </div>
              <div class="modal-body">
                <img src="https://static.boredpanda.com/blog/wp-content/uploads/2018/04/5acb63d83493f__700-png.jpg"/>
                <span class="description">I calm down every time.</span>
              </div>
              <div class="modal-footer">
                  <div class="tags">
                    <div>Tags:</div>
                    <div class="memetag"><a href="">NSFW</a><button type="button" style="display: none;">x</button>, </div>
                    
                    <div class="memetag"><a href="">Bastos</a><button type="button" style="display: none;">x</button>, </div>
                    
                    <div class="memetag"><a href="">Cat</a><button type="button" style="display: none;">x</button></div>
                    
                  </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
-->
        <div class="modal fade" id="memeModalLoggedIn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">As pretty as a Cat
                        <span class = privatestamp>
                            PRIVATE
                        </span>
                    </h5>
                    <div class="modal-subheading">By <a href="userPage">Durstnt</a></div>
                </div>
              <div class="modal-body">
                <img class="meme" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/Cat03.jpg/1200px-Cat03.jpg" />
                <span class="description">I love pussy</span>
                <br/>
                <hr>
                <div class="tagAdder">
                    <span>Add Tags:</span>
                    <input type="text" placeholder="Separate tags with a comma"/>
                    <button type="button" class="btn btn-default">Add</button>
                </div>
                <div class="editDescription">
                  <span>Edit Description:</span>
                  <input type="text" placeholder="Enter new description here"/>
                  <button type="button" class="btn btn-default update-description">Update</button>
                </div>
                <div class="shareMeme">
                  <span>Shared With:</span> <br/>
                  <span>mr_bizcuit</span> <br/>
                  <span>Jdelbz</span> <br/>
                  <input type="text" placeholder="Add users to share with"/>
                  <button type="button" class="btn btn-success share-meme">Add</button>
                </div>
                <div class="deleteMeme">
                  <button type="button" class="btn btn-danger" class="btnDelete">Delete</button>
                </div>
              </div>
              <div class="modal-footer">
                  <div class="tags">
                    <div>Tags: </div>
                    <div><a href="search">Cute</a>, </div>
                    <div><a href="search">Hot</a>, </div>
                    <div><a href="search">Cat</a></div>
                  </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
</body>
    <script>
        
        //Makes sure functions only run when document is ready
        $(document).ready(function () {
            var memeURL = "https://i.pinimg.com/originals/87/90/60/879060975a331d71de3fbe20d6938c1e.jpg"
            for (let x = 0; x < 15; x++){
                
                var memeImg = document.createElement("img")
                $(memeImg).addClass("meme")
                $(memeImg).attr("src",memeURL)
                $(memeImg).attr("data-toggle","modal")
                $(memeImg).attr("data-target","#meme"+x)
                
                $("#column" + x%3).append(memeImg)
                
                newMemeLoggedOff(new Meme("It's a cat", "mr_bizcuit", "Wow what a cool cat", memeURL, ["Cat"], ["search"], "Public"),x)
            }

            //Adds remove button on hover and removes on leave
            $(".modal-footer .tags .memetag").on('mouseenter', function () {
                $(this).find(":button").show();
                console.log("in");
                }).on('mouseleave', function () {
                    $(this).find(":button").hide();
                    console.log("out");
            });
        });
    </script>
</html>